:root {
  --accent-color: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(raven1.jpg);
  background: linear-gradient(185deg, #FFFFFF, #7F48B0, #9417BD); /* Updated gradient direction and colors */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Press Start 2P', cursive;
  line-height: 1.4;
  color: #fff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  cursor: url(ravencursor.png), auto; /* Custom cursor */
}

.main-logo {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%; /* Adjust based on your needs */
  width: 80%;
  padding-top: 20px; /* Adjust the spacing from the top */
}

.container {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto;
  flex: 1;
}

img {
  max-width: 100%;
  max-height: 100%;
}

ul {
  list-style-type: none;
}

li {
  margin-bottom: 16px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: var(--accent-color);
}

#muteButton {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 9999;
  display: flex;
  align-items: center;
}

#muteButton.active img {
  /* Add styles for the active state */
  /* For example, change opacity to indicate muted state */
  opacity: 0.5;
}

#muteButton img {
  width: 30px;
  height: auto;
  margin-right: 5px;
  transition: transform 0.3s ease;
}

#muteButton img:hover {
  transform: scale(1.1);
}

#muteButton p {
  margin: 0;
  font-size: 14px;
  color: white;
}

.raven-one {
  width: 50%;
  height: 10%;
}

.menu-bar a {
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a:hover {
  color: #5c128e; /* Change to the desired hover color */
  transition: color 0.3s ease; /* Smooth transition effect */
}

.privacy-text {
  position: center;
  text-align: center;
  margin: 50px auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5); /* Optional: Add a semi-transparent background for better readability */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for the privacy policy text */
}

.terms-text {
  position: center;
  text-align: center;
  margin: 50px auto;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5); /* Optional: Add a semi-transparent background for better readability */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Box shadow for the privacy policy text */
}

.raven-one {
  position: fixed;
  bottom: 0px; /* Adjust position as needed */
  left: 13px; /* Adjust position as needed */
  z-index: 999; /* Ensure it is above the phone screen */
}

.raven-two {
  position: fixed;
  bottom: 0px; /* Adjust position as needed */
  left: 50px; /* Slightly to the left of the first one */
  z-index: 999; /* Ensure it is above the phone screen */
}

ul li a {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for "Our Story", "Contact Us", "Careers" */
}

.mute-btn a {
  position: fixed;
  top: 15px;
  left: 15px;
}

.image-video video {
  width: 195px;
  position: absolute;
  bottom: 90px;
  right: 36px;
  border-radius: 80px;
}

.phone-screen {
  position: absolute;
  bottom: -7px;
  right: -70px;
}

@media only screen and (max-width: 1100px) {
  .phone-screen {
    visibility: collapse;
  }
  .image-video video {
    visibility: collapse;
  }
}

.title {
  position: relative;
  right: 50%;
  margin-top: 20px;
}

ul li a img {
  height: 35px;
  width: 30px;
}
